.about {
    padding: 94px 0;
  }
  
  .about__list {
    display: flex;
    gap: 30px;
  }
  .about__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  
  .about__icon {
  margin: 25px 100px;
  }
   
  .about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .about__description {
    line-height: 1.71;
    color: var(--text-color-secondary);
  }
  
  .about__block {
  width: 270px;
  height: 120px;
  background-color: #f5f4fA;
  border-radius: 4px;
  margin-bottom: 30px;
  }